@import "normalize.css";
html, body {
    height:100%;
}  
header{
    flex: 1;
    display:flex;
    justify-content: flex-end;
    background-color:rgb(35, 48, 67);
    background-image: url('../../assets/images/title_banner_sm.png');  
    padding-top:20%;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position:center;
    width: 100%;
    
}  
.navbar{
   background-color: transparent;
}

.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
.input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:black;
    background-image: url("../../assets/images/main_bckg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:unset;
    height: 145rem;
    width: 100%;
    z-index: 0;   
}  

p {
flex-grow: initial;
flex-shrink:unset;
flex-basis: 0px;
display: flex;
text-align: center;
text-rendering: auto;
}

footer{
  background-color: rgb(140,18,13);
  background-position:center;
  width: 100%;
  background-size: contain cover;
  border-top: rgb(35, 48, 67);
}
#mymovies{
  display: flex;
  justify-content: space-around;
}

footer.columns{
  margin-left: 0%;
  margin-right: 0%;
}