:root {
    --grid-cols: 0;
    --grid-rows: 0;
  }
.navbar{
   background-color: transparent;
}
.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
  
.main{
    display: flex;
    flex-wrap: wrap;
    background-image: url("../../assets/images/main_bckg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1300px;
    width: 100%;
    z-index: 0;
}  
